<!doctype html>
<html lang="en">
  <head>
      <title>Product Page</title>
    <% include partials/head %>
  </head>

  <body>

    <% include partials/navbar %>
    <h3 class="card-title"><%= product.productName %></h3>
    <div class="card" style="max-width: 40vw; display: flex; align-content: center;"  >
      <img class="card-img-top" src="/images/<%= product.productPicture %>" alt="Card image cap">
    </div>
    <div >
      
      <p class="card-text">Description: <%= product.description %></p>
      <p class="card-text">Price: $<%= product.price %></p>
      
    </div>
    
    <button type="submit" class="btn btn-dark">Add to cart</button>

    <% include partials/scripts %>

  </body>
</html>
